<!-- JSON-LD -->
{{ if .IsHome }}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ .Permalink }}",
    "name": "{{ .Site.Title }}",
    "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}"
    },
    "description": "{{ .Site.Params.description }}"
}
</script>
{{ end }}
{{ if .IsPage }}
<!--
    publisher应该是Person的。但是会检测错误。所以暂时这样子
-->
<script type="application/ld+json">
{
 "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "image" : "{{ .Site.BaseURL }}images/me/avatar.jpg",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "{{ .Site.BaseURL }}"
    },
    "articleSection" : "{{ .Section }}",
    "name" : "{{ .Title }}",
    "headline" : "{{ .Title }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "{{ .Site.LanguageCode }}",
    "author" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}",
    "creator" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}",
    "publisher": {
    "@type": "Organization",
    "name": "kentxxq",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}images/me/avatar.jpg"
      }
    },
    "accountablePerson" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}",
    "copyrightHolder" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date.Format "2006-01-02 15:04:05" }}",
    "dateModified" : "{{ .Date.Format "2006-01-02 15:04:05" }}",
    "url" : "{{ .Permalink }}",
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }} {{with .Site.Title}}"{{ .}}"{{ end }}]
}
</script>
{{ end }}