baseURL = "https://kentxxq.com/"
languageCode = "zh"
title = "kentxxq Blog"
theme = "LeaveIt"

[menu]
  [[menu.main]]
    name = "Blog"
    url = "/posts/"
    weight = 1
  [[menu.main]]
    name = "Categories"
    url = "/categories/"
    weight = 2
  [[menu.main]]
    name = "Tags"
    url = "/tags/"
    weight = 3
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 4

[params]
    since = 1993
    author = "kentxxq"                           # Author's name
    avatar = "/images/me/avatar.jpg"           # Author's avatar
    subtitle = "Less is more"         # Subtitle
    description = "kentxxq个人站点" # site description
    keywords = "编码 生活 电影 音乐 过去 现在 将来" # site keywords

    comments = true

    license= '本文采用<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">知识共享署名-非商业性使用 4.0 国际许可协议</a>进行许可'

[taxonomies]
  tag = "tags"
  category = "categories"

[permalinks]
  posts = "/contents/:filename/" 
