<footer class="footer">
    <div style="text-align: center;width:600px;margin:0 auto; padding:20px 0;">
        <a href="https://beian.miit.gov.cn/" target="_blank"
            style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" rel="external nofollow">
            <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px;">
                湘ICP备2021002319号-1</p>
        </a>
        <a>&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=43010402000934"
            style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
            <img src="/images/备案图标.png" style="float:left;" />
            <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">湘公网安备
                43010402000934号</p>
        </a>
    </div>
</footer>

{{ partial "js.html" . }}